@model ContractenOpvolging.Models.ContractenModels.Contract

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Contract</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StartDatum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDatum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EindDatum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EindDatum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Opzegtermijn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Opzegtermijn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Randvoorwaarden)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Randvoorwaarden)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tarief)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tarief)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Kosten)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Kosten)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Verlenging)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Verlenging)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OnderKlant)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OnderKlant)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Consultant)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Consultant.Familienaam)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Klant)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Klant.Naam)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ContractID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
