@using ContractenOpvolging.Models.ContractenModels;
@using System.Globalization;
@model IEnumerable<Contract>

@{
    ViewData["Title"] = "Grafisch";
    List<Klant> klantLijst = ViewBag.KlantenLijst;
    int maxMaanden;
    var huidigJaar = DateTime.Now.Year;
    maxMaanden = ViewBag.Maanden;
}

<h2>Grafisch overzicht</h2>
<div class="container">
    <div class="row">
        @if (User.IsInRole("Admin"))
        {
            <a asp-action="ContractenDetails" class="col-md-2">Naar overzicht</a>
        }
        else
        {
            <a asp-action="Index" class="col-md-2">Naar overzicht</a>
        }

        <div class="col-md-3">
            <form asp-controller="Contracten" asp-action="MaandenAanpassen" method="post">
                <input type="text" name="query" value="" class="search-query" placeholder="Geef aantal maanden" />
                <input type="submit" value="Pas aan" class="btn btn-sm" />
            </form>
        </div>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-bordered" id="tabel">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Consultant)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Consultant.Tel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Klant)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OnderKlant)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EindDatum)
                </th>
                @{
                    for (int i = 0; i < maxMaanden; i++)
                    {
                        <th style="text-align:right">@DateTime.Now.AddMonths(i).ToString("MMM", CultureInfo.InvariantCulture)</th>
                    }
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                Klant klant;
                if (item.OnderKlant != null || item.OnderKlant != -1)
                {
                    klant = (from k in klantLijst
                             where k.KlantID == item.OnderKlant
                             select k).FirstOrDefault();
                }
                else
                {
                    klant = null;
                }
                <tr>
                    <td>
                        <a asp-controller="Consultants" asp-action="Details" asp-route-id="@item.ConsultantID">@Html.DisplayFor(modelItem => item.Consultant.Naam)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Consultant.Tel)
                    </td>
                    <td>
                        <a asp-controller="Klanten" asp-action="Details" asp-route-id="@item.KlantID">@Html.DisplayFor(modelItem => item.Klant.Naam)</a>
                    </td>
                    <td>
                        <a asp-controller="Klanten" asp-action="Details" asp-route-id="@item.OnderKlant">@Html.DisplayFor(modelItem => klant.Naam)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EindDatum)
                    </td>

                    @{
                        for (var i = 0; i < maxMaanden; i++)
                        {
                            int maand = DateTime.Now.AddMonths(i).Month;
                            var jaar = DateTime.Now.AddMonths(i).Year;
                            if (item.CheckValid(maand, jaar))
                            {
                                <td style="background-color:lightblue"></td>
                            }
                            else
                            {
                                <td style="background-color:@item.Verlenging"></td>
                            }
                        }
                    }
                </tr>
                        }
        </tbody>
    </table>
</div>
