@using ContractenOpvolging.Models.ContractenModels;
@model IEnumerable<Contract>

@{
    ViewData["Title"] = "Index";
    List<Klant> klantLijst = ViewBag.KlantenLijst;
}

<h2>Alle contracten</h2>

<p>
    <a asp-action="Grafisch" class="btn-bracketed">Grafische voorstelling</a>

    @{
        if (User.IsInRole("Admin"))
        {
            <a asp-action="ContractenDetails" class="btn-bracketed">Contracten - Admin</a>
            <a asp-action="Create" class="btn-bracketed">Nieuw Contract</a>
        }
    }
</p>
<div class="row">
    @Html.Partial("_ZoekConsultant")
    @Html.Partial("_ZoekKlant")
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Consultant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Klant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OnderKlant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDatum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EindDatum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opzegtermijn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Randvoorwaarden)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            Klant klant;
            if (item.OnderKlant != null || item.OnderKlant != -1)
            {
                klant = (from k in klantLijst
                         where k.KlantID == item.OnderKlant
                         select k).FirstOrDefault();
            }
            else
            {
                klant = null;
            }
            <tr>
                <td>
                    <a asp-controller="Consultants" asp-action="Details" asp-route-id="@item.ConsultantID">@Html.DisplayFor(modelItem => item.Consultant.Naam)</a>
                </td>
                <td>
                    <a asp-controller="Klanten" asp-action="Details" asp-route-id="@item.KlantID">@Html.DisplayFor(modelItem => item.Klant.Naam)</a>
                </td>
                <td>
                    <a asp-controller="Klanten" asp-action="Details" asp-route-id="@item.OnderKlant">@Html.DisplayFor(modelItem => klant.Naam)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDatum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EindDatum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Opzegtermijn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Randvoorwaarden)
                </td>
            </tr>
        }
    </tbody>
</table>
