@model IEnumerable<ContractenOpvolging.Models.ContractenModels.Consultant>

@{
    ViewData["Title"] = "Index";
}

<h2>Consultants</h2>

<p>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Create" class="btn-bracketed">Nieuwe consultant</a>
    }
    @Html.Partial("_ZoekConsultant")
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Voornaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Familienaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefoon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Soort)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Voornaam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Familienaam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefoon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Soort)
                </td>
                <td>
                    @if (User.IsInRole("Admin"))
                    { 
                    <a asp-action="Edit" class="btn-bracketed" asp-route-id="@item.ConsultantID">Edit</a>
                    
                    <a asp-action="Delete" class="btn-bracketed" asp-route-id="@item.ConsultantID">Delete</a>
                    }
                    <a asp-action="Details" class="btn-bracketed" asp-route-id="@item.ConsultantID">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
