@model IEnumerable<ContractenOpvolging.Models.UserListViewModel>

@{
    ViewData["Title"] = "Admin";
}

<h2>Users</h2>

<a asp-action="Roles" class="btn-bracketed">Roles</a>
<a asp-action="ContractenDetails" asp-controller="Contracten" class="btn-bracketed">Contracten Details</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleName)
                </td>
                <td>
                    <a asp-action="AddRole" asp-route-id="@item.Id">Rol aanpassen</a> |
                    <a asp-action="ResetRoles" asp-route-id="@item.Id">Reset permissies</a>
                </td>
            </tr>
        }
    </tbody>
</table>
