@using ContractenOpvolging.Models;
@using ContractenOpvolging.Models.ContractenModels;
@model  IEnumerable<OudContract>
@{
    ViewData["Title"] = "OudeContracten";

}
<h2>Archief - Afgeronde contracten</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Jaar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Klant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subklant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consultant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tarief)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDatum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EindDatum)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(model => item.Jaar)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Klant)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Subklant)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Consultant)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Tarief)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Kost)
                </td>
                <td>
                    @Html.DisplayFor(model => item.StartDatum)
                </td>
                <td>
                    @Html.DisplayFor(model => item.EindDatum)
                </td>
            </tr>
        }
    </tbody>
</table>

