@model IEnumerable<ContractenOpvolging.Models.ContractenModels.Klant>

@{
    ViewData["Title"] = "Index";
}

<h2>Klanten</h2>

<p>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Create" class="btn-bracketed">Nieuwe klant</a>
    }
</p>
@Html.Partial("_ZoekKlant")
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contactpersoon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefoon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Straat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Huisnummer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Postcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gemeente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Naam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contactpersoon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefoon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Straat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Huisnummer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Postcode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gemeente)
                </td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" class="btn-bracketed" asp-route-id="@item.KlantID">Edit </a>
                        <a asp-action="Details" class="btn-bracketed" asp-route-id="@item.KlantID">Details </a>
                        <a asp-action="Delete" class="btn-bracketed" asp-route-id="@item.KlantID">Delete </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
